body.loader {
  background: url('../img/loader.gif') 50% 50% no-repeat;
}

body.desktop {
  /* background: url('../img/wallpaper.jpg') 50% 50% no-repeat; */
  background: #eee;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#login form input {
  margin: 20px auto;
  width: 50%;
  font-weight: bold;
}

#login img {
  margin: 20px 12px;
}

.notification.error {
  background: rgba(198, 15, 19, 0.75);
}

.notification.warn {
  background: rgba(43, 166, 203, 0.75);
}

.notification.success {
  background: rgba(93, 164, 35, 0.75);
}

.notification {
  background: rgba(0, 0, 0, 0.75);
}

#desktop {
  margin: 50px;
}

#desktop .columns {
  text-align: center;
}

#desktop a.lsf {
  color: #000;
  font-size: 100px;
}

#desktop .columns.active {
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}

.terminal {
  margin: 50px auto;
  padding: 20px;
  font-family: Inconsolata;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 20px;
}

ul li abbr {
  padding: 0.1em 0.6em;
  border: 1px solid #CCC;
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #F7F7F7;
  color: #000;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px white inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px white inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 white;
  line-height: 1.4;
  white-space: nowrap;
}

#filebrowser {
  margin: 20px auto;
}

#filebrowser .columns {
  text-align: center;
}

#filebrowser a.lsf {
  color: #000;
  font-size: 50px;
}

#fileview {
  margin: 50px auto;
}

#fileview .row {
  margin: 10px auto;
}

#fileview a.lsf {
  font-size: 100px;
}

#fileview span {
  font-weight: bold;
  font-family: Inconsolata;
}

#fileview .columns {
  padding-bottom: 10px;
}

#filebrowser .columns.active {
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
