body.loader {
  background: url('../img/loader.gif') 50% 50% no-repeat;
}

body.desktop {
  /* background: url('../img/wallpaper.jpg') 50% 50% no-repeat; */
  background: #eee;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#login form input {
  margin: 20px auto;
  width: 50%;
  font-weight: bold;
}

#login img {
  margin: 20px 12px;
}

.notification.error {
  background: rgba(198, 15, 19, 0.75);
}

.notification.warn {
  background: rgba(43, 166, 203, 0.75);
}

.notification.success {
  background: rgba(93, 164, 35, 0.75);
}

.notification {
  background: rgba(0, 0, 0, 0.75);
}

#desktop {
  margin: 50px;
}

#desktop .columns {
  text-align: center;
}

#desktop a.lsf {
  color: #000;
  font-size: 100px;
}

#desktop .columns.active {
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
