@font-face {
    font-family: 'Inconsolata';
    src: url('../font/inconsolata.eot');
    src: url('../font/inconsolata.eot?#iefix') format('embedded-opentype'),
         url('../font/inconsolata.woff') format('woff'),
         url('../font/inconsolata.ttf') format('truetype'),
         url('../font/inconsolata.svgz#InconsolataRegular') format('svg'),
         url('../font/inconsolata.svg#InconsolataRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
